<div class="organigrama">
    <ul>
        <li>
            <a href="#">Director</a>
            <ul>
                <li>
                    <a href="#">Director Ejecutivo</a>
                </li>
                <li>
                    <a href="#">Coordinador</a>
                    <ul>
                        <li><a href="#">Vicepresidente</a></li>
                        <li><a href="#">Vicepresidente</a></li>
                        <li><a href="#">Vicepresidente</a></li>
                    </ul>
                </li>
                <li><a href="#">Vicepresidente</a></li>
                <li><a href="#">Vicepresidente</a></li>
                <li><a href="#">Vicepresidente</a></li>
                <li>
                    <a href="#">Vicepresidente</a>
                    <ul>
                        <li><a href="#">Vicepresidente</a></li>
                        <li><a href="#">Vicepresidente</a></li>
                        <li><a href="#">Vicepresidente</a></li>
                    </ul>
                </li>
                <li><a href="#">Vicepresidente</a></li>
            </ul>
        </li>
    </ul>
</div>